@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f4f6;
}

/* CLASSES - Homepage */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.homepage-background {
  height: 100vh;
  width: 100vw;

  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

.homepage-main {
  color: white;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-button {
  width: 11.5vw;
  height: 5.556vh;
  border-radius: 60px;
  font-family: "Alexandria", sans-serif;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 4.63vh;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.homepage-button:hover {
  transform: scale(1.05);
}

.homepage-button:active {
  transform: scale(0.95); 
}

/* CLASSES - Upload/Settings */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
.headerbtn {
  width: 3.385vw;
  height: 3.704vh;
  border-radius: 7px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.progress-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* IDs - Homepage */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

#gravity-h1 {
  font-size: 6.5vw;
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: -1vh;
}

#gravity-p {
  font-family: "Alexandria", sans-serif;
  font-size: 1vw;
  line-height: 120%;
  font-weight: 400px;
}

#homepage-howbtn {
  color: white;
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 2.125vw;
}

#homepage-startbtn {
    background-color: #fff;
    border: 1px solid #fff;
}

/* IDs - Upload/Settings */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
#header { 
  width: 100vw;
  height: 7.4vh;
  background-color: #fff;

  padding: 0 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#progressbar {
  width: 14.948vw;
  height: 2.315vh;
  margin-left: 10px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}

#cancelbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

#header-backbtn {
  background-color: transparent;
  margin-right: 10px;
}

#header-nextbtn {
  background-color: #0C67FF;
  color: white;
}

#progress-text-active {
  font-weight: 700;
}

#progress-text-unactive {
  color: rgba(0, 0, 0, 0.5);
}